.container {
    --space: 8px;
    --min-height: 160px;
    --last-row-background: rgba(255, 255, 255, 0);
}

.container {
    display: flex;
    flex-wrap: wrap;
    grid-gap: var(--space);
    list-style: none;
}

.image_wrapper {
    flex-grow: calc(var(--w) * (100000 / var(--h)));
    flex-basis: calc(var(--min-height) * (var(--w) / var(--h)));
    aspect-ratio: var(--w) / var(--h);
    position: relative;
    overflow: hidden;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container::after {
    content: " ";
    flex-grow: 1000000000;
    background: var(--last-row-background);
}

.overlay {
    position: absolute;
    width: 100%;
    border-image: linear-gradient(hsla(0, 0%, 0%, 0.11), hsla(0, 0%, 0%, 0.41)) fill 1;
    z-index: 1;
    color: white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay_top {
    top: 0;
}

.overlay_bottom {
    bottom: 0;
}

.image_wrapper:hover {
    .overlay {
        opacity: 1;
        pointer-events: auto;
    }
}

.overlay_title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.star {
    flex-shrink: 0;
    width: 1.2rem;
    margin-left: auto;
}
