.container {
    --space: 8px;
    --min-height: 240px;
    --last-row-background: rgba(255, 255, 255, 0);
}

.container {
    display: flex;
    flex-wrap: wrap;
    grid-gap: var(--space);
    list-style: none;
}

.image_wrapper {
    flex-grow: calc(var(--w) * (100000 / var(--h)));
    flex-basis: calc(var(--min-height) * (var(--w) / var(--h)));
    aspect-ratio: var(--w) / var(--h);
    position: relative;
    overflow: hidden;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container::after {
    content: " ";
    flex-grow: 1000000000;
    background: var(--last-row-background);
}
