.header {
    top: 0;
    height: var(--header-height);
    background-color: #f3f3f3dc;
    width: 100%;
    z-index: 99;
}

.fixed {
    position: fixed;
}

.upload {
    padding-top: 8px;
}

.inner {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 32px;
}

.links {
    display: flex;
    gap: 28px;
    align-items: center;
}

.centered-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.drawer_item {
    display: flex;
    align-items: center;
    height: 44px;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);
}

.drawer_item:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.avatar {
    height: inherit;
    padding: var(--mantine-spacing-md);
}

.avatar_logout {
    margin-left: auto;
}
