.container {
    flex: 1 0 auto;
    max-width: 200px;
    min-width: 200px;
    height: 150px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    opacity: .6;
}

.selected {
    opacity: 1;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
