.formContainer {
    margin: 16px 16px 0 16px;
}
.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 12px;
}

.fileInput {
    display: none;
}

.imageFrameContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 16px;
}
