.container {
    position: relative;
    min-height: 100vh;
    padding-top: calc(var(--header-height));
}

.content {
    min-width: 20rem;
    max-width: 100rem;
    margin: 0 auto;
    padding: 70px 40px 40px 40px;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: hsla(0, 0%, 100%, .6);
    padding: 16px;
    height: var(--footer-height);
}

.bold {
    color: white;
}
.social_links ul {
    display: flex;
    gap: 16px;
}

.social_links li {
    list-style-type: none;
    &:hover {
        color: white;
    }
}
