.container {
    display: flex;
    height: calc(100svh - var(--header-height));

}

.sidebar {
    padding: 8px;
    flex: 0 0 15rem;
    background-color: rgba(0, 0, 0, 0.39);
    max-width: 15rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.main {
    padding: 8px;
    flex: 1 1 auto;
    background-color: rgba(0, 0, 0, 0.60);
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
    .sidebar {
        flex: 1.5 0 auto;
        order: 2
    }
    .main {
        flex: 2 1 auto;
        order: 1
    }
}
