.profile_container {
    display: flex;
    height: 20rem;
    align-items: flex-end;
    padding: 0 40px 20px;
}

.btn_list {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 8px 0;
}

.btn_list > li {
    display: flex;
    flex: 1;
    justify-content: center;
}
